.git
.env
.env.*
!.env.example
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
tests
*.md
*.pdf
docker
.dockerignore
.gitignore
phpunit.xml
vite.config.js
package.json
package-lock.json
